<!DOCTYPE html>
<html>
<head>
    <title>Invernaderos</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Agregar Invernadero</h1>
        <form id="invernaderoForm">
            <label for="id">ID del Invernadero:</label>
            <input type="text" id="id" name="id" required>
            <br>
            <label for="actuadorRiego">Tipo de Actuador:</label><br>
            <input type="radio" id="actuadorRiegoLluvia" name="actuadorRiego" value="lluvia" required>
            <label for="actuadorRiegoLluvia">ActuadorRiegoLluvia</label>
            <input type="radio" id="actuadorRiegoNormal" name="actuadorRiego" value="normal" required>
            <label for="actuadorRiegoNormal">ActuadorRiegoNormal</label>
            <br><br>
            <button type="submit">Agregar Invernadero</button>
        </form>
        <h1>Lista de Invernaderos</h1>
        <ul id="invernaderos-list"></ul>
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
